.card {
    position: relative;
	margin: 30px;
    border: 1px solid #80808059;
    border-radius: 7px;
    padding: 12px;

    .initial {
        float: right;
    }
}

.card-question {
    margin-bottom: 20px;
}


.card-field{
    margin-left: 20px;
    font-size: 11px;
    padding-bottom: 0px;
}

.card-suggestion {
    width: 90%;
    margin: auto;
    transform: scale(0.85);
}

.input-field,
.field-wrapper {
    margin-top: 20px;
}

.label {
    color: #9b9b9b;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {    
    padding: 10px;    
    border-radius: 5px;
    border: 1px solid #80808059;
    width: 100%;
    font-size: 15px;
}

.tag {
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    color: #0B6EF4;
    &.relationship {
        color: #673AB7
    }
}

.verified-status,
.suggested-status {
    text-align: right;

    svg {
        overflow: visible;
        color: green;
    }

    .status {
        display: inline-block;
        margin-left: 5px;
        color: green;
        font-weight: 700;
        /* font-size: 15px; */
    }
}

.suggested-status {
    svg {
        color: orange;
    }
    .status {
        color: orange;
    }
}

.actions {
    &.align-right {
         text-align: right;     
    }
}


button {
	border: none;
    border-radius: 5px;
    font-weight: 900;
    letter-spacing: 0.15em;
    font-size: 0.8rem;
    padding: 8px 18px;
    margin-top: 25px;
    color: white;
    outline: none;
    background-color: #0858cf;
    margin-right: 5px;
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
    &.grey {
        background-color: grey;
        svg {
            margin-right: 5px;
            font-size: 17px;
            vertical-align: sub;
        }
    }
    &.green {
        background-color: green;
    }
    &.red {
        background-color: red;
    }
}

.saving-loader {
    position: absolute;
    width: calc(100% - 6px);
    bottom: -2px;
    left: 3px;
    z-index: 2;
    > div {
        border-radius: 4px;
    }

}