.chart {
    display: table;
    .chart-row {
        display: table-row;
    }
    .chart-column {
        display: table-cell;
        padding: 80px;
        border: 1px solid #e5e5e5;
    }
    .chart-header {
        display: table-cell;
        text-align: center;
        padding: 10px;
        font-weight: bold;
    }
}