.analytics-page {
    margin: 15px;
    .page-header {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .title {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .concept-tile {
        font-size: 12px;
        display: inline-block;
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin: 5px;
        cursor: pointer;
        &.active {
            border-color: #ff4c2c;
            background: #ff4c2c;
            font-weight: bold;
            color: white;
        }
    }

    .stats {
        margin: 15px 0;
    }

    .flex-wrapper {
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: space-evenly;
    }

    .overall-stats-tile {
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        transform: scale(1.5);
        .total-count {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        .total-row .tile-header {
            margin: 10px;
        }
        .splits-row {
            display: flex;
            justify-content: space-between;
            .column {
                margin: 10px;
            }
            .tile-header {
                text-align: center;
                font-size: 10px;
            }
            .tile-count {
                font-size: 14px;
                margin: 5px 0;
                padding: 10px;
                width: 50px;
                text-align: center;
                background: #ddd;
                border-radius: 5px;
            }
        }
    }
    .chart-container {
        display: inline-block;
    }
}